@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Merriweather|Oswald:400,600');

/* 

FONT FAMILIES

font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Bilbo Swash Caps', cursive;

COLORS

Bone: #E3DCC2
Flax: #E3DC95
Ripple Green: #51513D
Dark Jungle Green: #1B2021
Middle Green Yellow: #A6A867

----------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-family: 'Merriweather', serif;
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=fcfcfcff&noise=626262&density=15&opacity=15');
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: #A6A867;
}
h3 {
  font-family: 'Oswald', sans-serif;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  margin: 60px 0;
}

.logo {
  width: 340px;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 2px dotted #A6A867;
  border-bottom: 2px dotted #A6A867;
}
.logo h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 3em;
  text-align: center;
  color: #A6A867;
}
.logo h3 {
  font-size: 1.5em;
  text-align: center;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 40px;
  background: rgba(227, 220, 149,.3);
  border: 20px solid #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}
.menu div:last-child {
  border: none;
}

.mains {
  width: 300px;
  border-right: 1px dotted #1B2021;
}
.mains h3 {
  margin: 0 auto;
  font-size: 1.3em;
  color: #1B2021;
  padding: 5px;
  text-align: center;
  width: 270px;
  border-bottom: 1px dotted #51513D;
}

.item {
  width: 230px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}
.item p {
  padding: 3px;
  font-size: .9em;
  color: #51513D;
}
.item strong {
  font-weight: 700;
  color: #1B2021;
  font-family: 'Oswald', sans-serif;
}
.pic {
  height: 150px;
}
.pic img {
  width: 100%;
  border: 10px solid #FFFFFF;
  box-shadow: 3px 3px 6px rgba(0,0,0,.3);
}

.sides {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 500px) and (min-width: 360px) {
  
  .menu {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .mains {
    width: 100%;
    border: none !important;
    
  }
  .item {
    width: 100%;
  }
  .mains h3 {
    width: 100%;
  }
  .pic {
    width: 100%;
    height: 100%;
  }
  
}