@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900|Source+Sans+Pro');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: antiquewhite;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

/*#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}*/

.vid {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
}

header {
  padding: 40px;
  text-align: center;
}
header h1 {
  font-size: 7rem;
  color: darkred;
  font-family: 'Passion One', cursive;
  font-weight: 900;
}
header h3 {
  font-size: 2rem;
  font-family: 'Passion One', cursive;
}
header p {
  text-transform: uppercase;
}

section {
  text-align: center;
  padding: 40px;
}

.director {
  margin: 30px auto;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
}
.director span {
  text-transform: uppercase;
  font-size: 1.5em;
  display: block;
  color: darkred;
  font-weight: 700;
}

.cast {
  margin: 30px auto;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;
}
.cast ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cast li {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
  flex: 1 0 33.33%;
  margin: 10px;
}
.cast li span {
  font-size: 1.5em;
  display: block;
  color: darkred;
  font-weight: 700;
}

.btn {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  color: antiquewhite;
  font-size: 3em;
  border: 2px solid darkred;
  cursor: pointer;
  text-align: center;
  font-family: 'Passion One', cursive;
  font-weight: 900;
  transition: all .3s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}
.btn:hover {
  background: antiquewhite;
  color: darkred;
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  
  header {
    width: 100%;
    padding: 20px;
  }
  header h1 {
    font-size: 3rem;
    text-align: center;
  }
  header h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .btn {
    font-size: 1.5em;
    width: 60%;
  }
  
}