@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Titillium+Web:400,700');

/*
Fonts
-------------------------------
font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
}

h3#more {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: #8905B5;
  padding: 2px 0;
  cursor: pointer;
  text-align: right;
  font-weight: bold;
}

header {
  height: 100%;
  max-height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CECECE;
}
header h1 {
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  color: #8905B5;
  font-weight: 700;
  cursor: pointer;
}
header ul {
  display: flex;
}
header ul#nav li {
  font-size: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 15px;
  transition: all .3s;
}
header ul#nav li:hover {
  color: #8905B5;
  font-weight: bold;
  cursor: pointer;
}
header ul#login li i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid #AAAAAA;
  color: #AAAAAA;
  text-align: center;
  line-height: 26px;
  transition: all .3s;
}
header ul#login li i:hover {
  border: 1px solid #8905B5;
  color: #8905B5;
  cursor: pointer;
}
#burger-menu {
  display: none;
}
.burger {
  display: none;
  margin: 10px 0;
}

.hero {
  width: 100%;
  max-width: 1160px;
  margin: 20px auto;
  display: flex;
  cursor: pointer;
}
.hero figure {
  width: 70%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.hero figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero figure h1 {
  position: absolute;
  bottom: 10%;
  left: 0;
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
  background: rgba(137, 5, 181, .7);
}
nav {
  width: 30%;
  height: 100%;
}
.side {
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.side:hover img {
  opacity: 1;
}
.side:hover h3 {
  color: #FFFFFF;
}
.side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .85;
  transition: all .3s;
}
.side h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,.7);
  color: #CECECE;
  font-size: 1.2em;
  text-align: right;
  transition: color .3s;
}

.news {
  width: 100%;
  max-width: 1160px;
  margin: 20px auto;
 
}
.news h2 {
  font-size: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #8905B5;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 5px solid #8905B5;
}
.news ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}
.news ul li {
  flex: 1 0 50%;
  height: 100%;
  max-height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #CECECE;
}
.news article {
  display: flex;
}

article figure {
  flex: 1 0 300px;
  height: 100%;
  overflow: hidden;
}
article img {
  width: 100%;
  max-height: 180px;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
article .info {
  padding: 0 10px 0 20px;
}
article .info h3 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.15em;
  transition: color .3s;
}
article .info h3:hover {
  color: #8905B5;
  cursor: pointer;
}
article .info small {
  display: block;
  font-size: .8em;
  color: #8905B5;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
article .info p {
  font-size: .9em;
  line-height: 1.4em;
}
article .info p i {
  color: #8905B5;
}

.reviews {
  width: 100%;
  max-width: 1160px;
  margin: 20px auto;
  padding: 20px 0;
}
.reviews h2 {
  font-size: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #8905B5;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 5px solid #8905B5;
}
.reviews ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.reviews li {
  width: 25%;
  margin: 10px;
}
.reviews figure {
  width: 100%;
  max-width: 300px;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.stars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: rgba(237,237,237,.8);
}
.stars i {
  color: #AAAAAA;
}
.active {
  color: #8905B5 !important;
}
.reviews img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.reviews h3 {
  font-weight: bold;
  margin: 20px 0;
  font-size: 1.15em;
  transition: color .3s;
}
.reviews h3:hover {
  color: #8905B5;
  cursor: pointer;
}
.reviews p {
  font-size: .9em;
  line-height: 1.4em;
  padding: 10px;
}
.reviews p i {
  color: #8905B5;
}
.reviews p i {
  cursor: pointer;
}

footer {
  background: #8905B5;
  max-height: 80px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  width: 100%;
  max-width: 1160px;
  margin: 20px auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h1 {
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  margin: 0 10px;
  font-size: .9em;
  cursor: pointer;
}


@media screen and (max-width: 768px) and (min-width: 480px) {
  
  header {
    flex-direction: column;
    max-height: 100%;
  }
  header ul#nav li, header ul#login li {
    font-size: 1.15em;
    padding: 10px 0;
  }
  .hero {
    flex-direction: column;
  }
  .hero figure {
    width: 100%;
  }
  nav {
    display: flex;
    width: 100%;
    border-left: 0;
  }
  .news ul {
    flex-direction: column;
  }
  .reviews ul {
    flex-direction: column;
  }
  .reviews li {
    width: 100%;
    display: flex;
  }
  .reviews article {
    padding: 0 20px;
  }
  .news, .reviews, .footer {
    padding: 20px;
  }
  .reviews h3 {
    margin: 0 0 10px 0;
  }
  
}
@media screen and (max-width: 480px) and (min-width: 360px) {
  
  header {
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: 20px 0;
    border-bottom: none;
  }
  header ul#nav {
    display: none;
    flex-direction: column;
  }
   header ul#login {
    display: none;
  }
  header ul#nav li {
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px 0;
  }
  .news ul, .reviews ul {
    flex-direction: column;
  }
  .reviews, .news {
    padding: 20px;
  }
  .reviews li {
    width: 100%;
  }
  .reviews figure {
    width: 100%;
    max-width: 100%;
  }
  .reviews h3 {
    margin: 10px 0;
  }
  .news ul li {
    flex: 1 0 100%;
    height: 100%;
    max-height: 100%;
  }
  .news article {
    flex-direction: column;
    padding: 20px;
  }
  .news article figure {
    flex: 1 0 100%;
  }
  .news article figure img {
    object-fit: cover;
  }
  article .info {
    padding: 0;
  }
  .info h3 {
    margin-top: 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer li {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .hero {
    flex-direction: column
  }
  .hero h1 {
    text-align: center;
  }
  .hero figure {
    width: 100%;
    height: 400px;
  }
  .hero figure h1 {
    font-size: 1.5em;
  }
  nav {
    width: 100%;
  }
  .side h3 {
    text-align: center;
  }

  .burger {
    display: block;
    
  }
  .burger label:hover {
    cursor: pointer;
  }
  #burger-menu:checked ~ ul#nav,
  #burger-menu:checked ~ ul#login {
    display: block;
  }
}
