/* SITE COLORS
------------------------------>

JAPANESE INDIGO: #273E47
TIGERS EYE: #D8973C
DEEP CARMINE: #A4243B
DARK VANILLA: #D8C99B
GLITTER #E8EEF2
*/

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,600,800');

* { box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background: #E8EEF2;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.logo {
  background-color: #273E47;
  padding: 30px 50px;
  position: relative;
}
.logo:after {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
  bottom: -40px;
  left: calc(50% - 40px);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #273E47;
  z-index: 1;
}
.logo h1 {
  font-family: 'Catamaran', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
}
.logo h2 {
  font-family: 'Catamaran', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}
.logo p {
  font-family: 'Catamaran', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.what {
  height: 300px;
  padding: 50px;
  background-color: #D8973C;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(216, 151, 60, .7), 
      rgba(216, 151, 60, .7)
    ),
    url('../img/conference.jpg');
  position: relative;
  border-bottom: 10px solid rgba(216, 151, 60, 1);
  color: #FFFFFF;
}
.what:after {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
  bottom: -40px;
  left: calc(50% - 40px);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid rgba(216, 151, 60, 1);
  z-index: 10;
}
.what h3 {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}
.what p {
  padding: 10px;
}
.what ul {
  padding: 10px 0 10px 40px;
  list-style: disc;
}
.what li {
  padding: 5px 0;
}

.where {
  height: 300px;
  padding: 50px;
  background-color: #A4243B;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.2em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(
      rgba(164, 36, 59, .7), 
      rgba(164, 36, 59, .7)
    ),
    url('../img/aotea-center.jpg');
  border-bottom: 10px solid rgba(164, 36, 59, 1);
}
.where:before {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
  bottom: -40px;
  left: calc(50% - 40px);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid rgba(164, 36, 59, 1);
  z-index: 10;
}
.where h3 {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}

.who {
  padding: 50px;
  background-color: #D8C99B;
  position: relative;
}
.who:after {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
  bottom: -40px;
  left: calc(50% - 40px);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #D8C99B;
  z-index: 40;
}
.who h3 {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}

.speaker {
  height: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px dotted rgba(164, 36, 59, 1);
}
.speaker img {
  border-radius: 50%;
}
.speaker div {
  flex: 1 0 60%;
}
.speaker h4 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 10px;
}
.speaker p {
  margin: 10px;
  line-height: 1.3em;
}
.speaker:last-child {
  border-bottom: none;
}

.accept {
  background-color: #273E47;
  padding: 30px 50px;
  position: relative;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accept h3 {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}
.accept a {
  color: #D8C99B;
  text-decoration: none;
}
.accept p {
  padding: 50px 0;
}
.btn-group {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.btn-group button {
  margin: 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
}


@media screen and (max-width: 500px) and (min-width: 360px) {
  
  .speaker {
    text-align: center;
    height: 100%;
  }
  .speaker img {
    margin: 0 auto;
  }
  .btn-group {
    flex-direction: column;
    justify-content: center;
  }
  .accept p {
    text-align: center;
  }
  
}