* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  
  header, section {
    padding: 20px 0;
  }
  header {
    flex-direction: column;
  }
  .about {
    padding: 20px;
  }
  
}