<!DOCTYPE html>
<html>
    <head>
         <meta charset='utf-8'>
         <title>Day 27 - TV Show</title>
         <meta name='viewport' content='width=device-width, initial-scale=1'>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700" rel="stylesheet">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
         <link rel="stylesheet" href="css/jquery.bxslider.min.css">
         <link rel="stylesheet" href="css/reset.css">
         <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="container" id="app">

            <nav>
                <h1><a class="slideto" href="#home"><&#x2215; SCORPION ></a></h1>
                <ul class="menu">
                    <li><a class="slideto" href="#latest">VIDEOS</a></li>
                    <li><a class="slideto" href="#news">NEWS</a></li>
                    <li><a class="slideto" href="#cast">CAST</a></li>
                    <li><a class="slideto" href="#episodes">EPISODES</a></li>
                </ul>
            </nav>

            <header id="home"></header>

            <section id="intro">
                <h2><&#x2215; WE ARE TEAM SCORPION ></h2>
                <p>
                    Scorpion is said to be the last line of defense against complex, high-tech threats around the globe. Drawing on a diverse set of skills and experience, the team tackles a variety of problems, many of which are extremely complex. While they are frequently called into service by the Department of Homeland Security, they also accept work from private individuals and organizations.
                </p>
                <img src="img/icon-scorpion.png">
            </section>

            <section id="latest">
                <h2><&#x2215; LATEST VIDEOS ></h2>
                <ul>
                    <li>
                        <div class="videobox">
                            <iframe width="360" height="240" src="https://www.youtube.com/embed/kNoj2LQmrVc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                    <li>
                        <div class="videobox">
                            <iframe width="360" height="240" src="https://www.youtube.com/embed/NdQtxFnUZTk" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                </ul>
            </section>

            <section id="news">
                <h2><&#x2215; LATEST NEWS ></h2>
                <ul>
                    <li>
                        <div class="newsbox">
                            <a href="http://www.cbs.com/shows/scorpion/news/1006282/it-s-an-early-christmas-gift-for-scorpion-fans-check-them-out-in-360-/">
                                <figure>
                                    <img src="img/news-1.jpg">
                                </figure>
                                <h3>It's A 360-Degree Christmas Gift For Scorpion Fans</h3>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox">
                            <a href="http://www.cbs.com/shows/scorpion/news/sme/356/that-s-good-milestones-in-toby-and-happy-s-relationship/">
                                <figure>
                                    <img src="img/news-2.jpg">
                                </figure>
                                <h3>That's Good: Milestones In Toby And Happy's Relationship</h3>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox">
                            <a href="http://www.cbs.com/shows/scorpion/news/1006094/go-behind-the-scenes-of-scorpion-s-halloween-episode/">
                                <figure>
                                    <img src="img/news-3.jpg">
                                </figure>
                                <h3>Go Behind-The-Scenes Of Scorpion's Halloween Episode</h3>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox">
                            <a href="http://www.cbs.com/shows/scorpion/news/1005953/walter-and-paige-are-out-of-this-world/">
                                <figure>
                                    <img src="img/news-4.jpg">
                                </figure>
                                <h3>Walter And Paige Are Out Of This World</h3>
                            </a>
                        </div>
                    </li>
                </ul>
            </section>

            <section id="cast">
                <h2><&#x2215; THE TEAM ></h2>
                <ul class="slider">
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-walter.jpg">
                            </figure>
                            <article>
                                <h3>Walter O'Brien</h3>
                                <h4>Elyes Gabel</h4>
                                <p>
                                    A genius with an IQ of 197, Walter was notably arrested for hacking into NASA's mainframe as a child, seeking a set of blueprints to put on his bedroom wall. Later in the series, it is revealed that he married Happy Quinn to avoid Deportation.
                                </p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-paige.jpg">
                            </figure>
                            <article>
                                <h3>Paige Dineen</h3>
                                <h4>Katharine McPhee</h4>
                                <p>
                                    Paige serves as office manager for the team, and helps to 'translate' the real world for them, helping them interact with the people they meet. In turn, the team helps her understand her genius son, Ralph.
                                </p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-toby.jpg">
                            </figure>
                            <article>
                                <h3>Tobias "Toby" Curtis</h3>
                                <h4>Eddie Kaye Thomas</h4>
                                <p>
                                    A Harvard-trained psychiatrist, Toby serves the team as a behaviorist, 'reading' people that the team encounters. His gambling addiction occasionally causes trouble for him and the team.
                                </p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-happy.jpg">
                            </figure>
                            <article>
                                <h3>Happy Quinn</h3>
                                <h4>Jaydyn Wong</h4>
                                <p>A gifted mechanical engineer, Happy was named for her parents' favorite song, R.E.M.'s "Shiny Happy People". After her mother died in childbirth, her father gave her up for foster care; her experience makes it difficult for her to interact with and relate to others.</p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-sly.jpg">
                            </figure>
                            <article>
                                <h3>Sylvester Dodd</h3>
                                <h4>Ari Stidham</h4>
                                <p>
                                    Gifted as a mathematician and statistician, he is described as a "human calculator". He is a highly sensitive person and struggles with OCD and anxiety, and harbors fears of germs, air transportation, boats, and open water, among others.
                                </p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-cabe.jpg">
                            </figure>
                            <article>
                                <h3>Agent Cabe Gallo</h3>
                                <h4>Robert Patrick</h4>
                                <p>
                                    A former Marine and an FBI agent before joining Homeland Security, Gallo initially recruits the team to fix a serious air traffic control problem; afterward, he asked them to become a liaison team to tackle difficult missions that the government does not have the manpower or technological prowess to handle.
                                </p>
                            </article>
                        </div>
                    </li>
                    <li>
                        <div class="castbox">
                            <figure>
                                <img src="img/cast-ralph.jpg">
                            </figure>
                            <article>
                                <h3>Ralph Dideen</h3>
                                <h4>Riley B Smith</h4>
                                <p>
                                    Son to Paige, he is initially believed to be a troubled child before meeting and interacting with Walter, who tells Paige that he is actually a genius. He interacts well with the team, and on occasion, assists with cases.
                                </p>
                            </article>
                        </div>
                    </li>
                </ul>
                <ul class="bx-pager">
                    <li>
                        <a data-slide-index="0">
                            <img src="img/thumbs/walter.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="1">
                            <img src="img/thumbs/paige.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="2">
                            <img src="img/thumbs/toby.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="3">
                            <img src="img/thumbs/happy.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="4">
                            <img src="img/thumbs/sly.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="5">
                            <img src="img/thumbs/cabe.jpg">
                        </a>
                    </li>
                    <li>
                        <a data-slide-index="6">
                            <img src="img/thumbs/ralph.jpg">
                        </a>
                    </li>
                </ul>
                
            </section>

            <section id="episodes">
                <h2><&#x2215; SCORPION EPISODES ></h2>
                <div class="seasons">
                    <ul>
                        <li><a id="s1" href="" @click.prevent="fetchEpisodes(1,'s1')">Season 1</a></li>
                        <li><a id="s2" href="" @click.prevent="fetchEpisodes(2,'s2')">Season 2</a></li>
                        <li><a id="s3" href="" @click.prevent="fetchEpisodes(3,'s3')">Season 3</a></li>
                    </ul>
                    <div class="season">
                        <img :src="season_poster">
                        <ul :class="{'is-collapsed' : collapsed }">
                            <li v-for="episode in episodes">
                                <h3>{{ episode.episode_number }}. {{ episode.name }}</h3>
                                <h5>Aired: {{ episode.air_date }}</h5>
                                <p>{{ episode.overview }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="showmore">
                    <a href="" @click.prevent="collapsed = !collapsed">
                        <span v-if="!collapsed">SHOW LESS <i class="fa fa-chevron-up"></i></span>
                        <span v-else>SHOW MORE <i class="fa fa-chevron-down"></i></span>
                    </a>
                </div>
            </section>

            <footer>
                <a href="http://www.cbs.com/shows/scorpion/">
                    <h1>Scorpion: Mondays 10/9c</h1>
                    <img src="img/cbs.svg">
                </a>
            </footer>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
        <script src="js/app.js"></script>
        <script>
            $('.slider').bxSlider({
                controls: false,
                pagerCustom: '.bx-pager'
            });
        </script>
    </body>
</html>